[tool.poetry]

name = "python-module-template"
version = "1.1.0"
description = "A template for Python libraries."
authors = ["Jerome Guibert <jguibert@gmail.com>"]

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
cookiecutter = "*"
jinja2-time = "^0.2.0"
