name: Python package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  POETRY_VIRTUALENVS_CREATE: false


jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [{{cookiecutter.python_major_version}}.{{cookiecutter.python_minor_version}}]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python {{ '${{ matrix.python-version }}' }}
      uses: actions/setup-python@v2
      with:
        python-version: {{ '${{ matrix.python-version }}' }}
    - name: Install and configure Poetry
      uses: snok/install-poetry@v1
    - name: Install dependencies
      run: make install 
    - name: Check Python package
      run: poetry poe check
    - name: Test Python package
      run: poetry poe test
